# Virtual Environments
venv/
.venv/
env/

# Python Build Output & Caches
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/
.pytest_cache/

# Environment Secrets
.env
.env.local

# Logs
*.log

# OS & IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/
